<ion-content>
  <div style="display: grid; height: 100%; width: 100%; align-content: center; justify-content: center; background: forestgreen;">
    <div style="display: grid; grid-template-columns: 20px 1fr; text-align: center; border-radius: 2em; background: white; box-sizing: border-box; padding: 5px 35px; margin: 5px; font-size: 1.2em;">
        <ion-icon name="person"></ion-icon>
        <span>Consumidor</span>
    </div>
    <div style="position:relative; text-align: center; border-radius: 2em; background: white; box-sizing: border-box; padding: 5px 35px; margin: 5px; font-size: 1.2em;">
        <ion-icon name="leaf"></ion-icon>
        Produtor
      </div>
  </div>
</ion-content>
