<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Valor referencial
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <p style="text-align: justify">
          As informações apresentadas são atualizadas e retiradas do sistema das Centrais de Abastecimento de Goiás S/A (CEASA).
      </p>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item >
      <ion-avatar slot="start">
        <img src="../../assets/imagens/abobora.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Abóbora</h2>
        <h3>R$3,50/kg</h3>
      </ion-label>
    </ion-item>

    <ion-item >
      <ion-avatar slot="start">
        <img src="../../assets/imagens/alface.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Alface</h2>
        <h3>R$10,00/dúzia</h3>
      </ion-label>
    </ion-item>

    <ion-item >
      <ion-avatar slot="start">
        <img src="../../assets/imagens/batata.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Batata inglesa</h2>
        <h3>R$2,60/kg</h3>
      </ion-label>
    </ion-item>

    <ion-item >
      <ion-avatar slot="start">
        <img
          src="../../assets/imagens/cebola.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Cebola</h2>
        <h3>R$4,00/kg</h3>
      </ion-label>
    </ion-item>

    <ion-item >
      <ion-avatar slot="start">
        <img src="../../assets/imagens/cenoura.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Cenoura</h2>
        <h3>R$1,42/kg</h3>
      </ion-label>
    </ion-item>

    <ion-item >
        <ion-avatar slot="start">
          <img src="../../assets/imagens/couve.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Couve</h2>
          <h3>R$7,60/kg</h3>
        </ion-label>
      </ion-item>

    <ion-item >
      <ion-avatar slot="start">
        <img src="../../assets/imagens/tomate.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Tomate</h2>
        <h3>R$1,36/kg</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>